/*http://www.color-hex.com/color-palette/895*/
/*Refer to this color theme*/

body {
	background-color: rgb(255,204,92);
}

#search-top {
	margin-left: 0px;
	margin-right: 0px;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: Impact;
	font-size: 30px;
	padding-left: 10px;
	background-color: rgb(136,216,176);
}

#search-box {
	width: 60%;
	padding-left: 10px;
}

.logo {
	display: inline-block;
}

.logo-link {
	color: black;	
}

.logo-link:hover {
	color: black;
}

.input-group {
	width: 0px;
}

@media all and (orientation: portrait){
	.logo {
		font-size: 50pt;
	}
	
	#search-top {
		text-align: center;
		padding-bottom: 20px;
	}

	#search-box {
		margin-left: auto;
		margin-right: auto;
		width: 90%;
	}

	#search-box .hell {
		width: 20px;
	}

	#search-box input, #search-box button {
		height: 60px;
		font-size: 25pt;
	}
	
	#search-box button {
		width: 100px;
	}
}