body {
	background-color: rgb(230, 138, 0);
}

#search-top {
	margin-left: 0px;
	margin-left: 0px;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: Impact;
	font-size: 20px;
	padding-left: 10px;
	background-color: rgb(198, 200, 202);
}

#search-box {
	width: 60%;
	padding-left: 10px;
}