#details {
	padding-left: 20px;
	overflow: hidden;
}

#details p {
	font-size: 15pt;
}

.chinese {
	font-family: "微軟正黑體";
}

.container-fluid {
	overflow: hidden;
}

#misunderstood {
	background-color: white;
	float: right;
	border-radius: 10px;
	padding: 10px;
	width: 35%;
	margin-right: 10%;
}

#usage {
	width: 50%;
	float: left;
}

@media all and (orientation: portrait){
	#misunderstood, #usage {
		float: none;
		width: 100%;
		margin: 0px;
	}
}