#search-result {
	margin-top: 20px;
}

ul {
	font-size: 20pt;
}

h2 {
	text-align: center;
}

@media all and (orientation: portrait){
	p {
		font-size: 45pt;
		margin-left: 30px;
	}

	ul {
		font-size: 50pt;
		margin-left: 20px;
	}

	li {
		margin-bottom: 15px;
	}

	h2 {
		margin-top: 100px;
		font-size: 35pt;
	}
}